<%= render 'shared/errors', object: @client %>

<%= form_with model: @client, class: 'card form-grid' do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="form-field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="form-field checkbox">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
    <%= link_to 'Cancel', clients_path, class: 'button secondary' %>
  </div>
<% end %>
