<%= render 'shared/errors', object: @legal_case %>

<%= form_with model: @legal_case, class: 'card form-grid' do |f| %>
  <div class="form-field">
    <%= f.label :client_id, 'Client' %>
    <%= f.collection_select :client_id, Client.order(:name), :id, :name %>
  </div>

  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-field">
    <%= f.label :case_number %>
    <%= f.text_field :case_number %>
  </div>

  <div class="form-field">
    <%= f.label :jurisdiction %>
    <%= f.text_field :jurisdiction %>
  </div>

  <div class="form-field">
    <%= f.label :status %>
    <%= f.select :status, LegalCase::STATUSES.map { |s| [s.humanize, s] } %>
  </div>

  <div class="form-field">
    <%= f.label :summary %>
    <%= f.text_area :summary, rows: 5 %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
    <%= link_to 'Cancel', legal_cases_path, class: 'button secondary' %>
  </div>
<% end %>
