<section class="section-header">
  <h2>Legal Cases</h2>
  <%= link_to 'New Case', new_legal_case_path, class: 'button' %>
</section>

<section class="card">
  <table class="table">
    <thead>
      <tr>
        <th>Case Number</th>
        <th>Title</th>
        <th>Jurisdiction</th>
        <th>Status</th>
        <th>Client</th>
      </tr>
    </thead>
    <tbody>
      <% @legal_cases.each do |legal_case| %>
        <tr>
          <td><%= legal_case.case_number %></td>
          <td><%= link_to legal_case.title, legal_case_path(legal_case) %></td>
          <td><%= legal_case.jurisdiction %></td>
          <td><span class="badge"><%= legal_case.status.humanize %></span></td>
          <td><%= legal_case.client.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
